clients/avania/n8n/deploy_workflow1.json
{
  "name": "Avania - Lead Import & Enrichment",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/api/v1/mixed_people/api_search",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": "={\"api_key\": \"B0qwKmMAtpBBHBCd5AIfA\", \"person_titles\": [\"VP Regulatory Affairs\", \"Director Regulatory Affairs\", \"VP Quality Assurance\", \"VP Clinical Operations\"], \"organization_locations\": [\"United States\", \"Canada\"], \"organization_num_employees_ranges\": [\"11-50\", \"51-200\", \"201-500\"], \"contact_email_status\": [\"verified\"], \"page\": 1, \"per_page\": 25}",
        "options": {}
      },
      "name": "Apollo Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Apollo results and format for Google Sheets\nconst people = $json.people || [];\nreturn people.map((person, index) => {\n  return {\n    json: {\n      'Lead ID': 'AUTO-' + (1000 + index),\n      'Team Member': 'Catriona',\n      'Campaign': 'QMSR',\n      'Status': 'Pending',\n      'First Name': person.first_name || '',\n      'Last Name': person.last_name || '',\n      'Email': person.email || '',\n      'Company': person.organization?.name || '',\n      'Title': person.title || '',\n      'Industry': 'Medical Devices',\n      'Company Size': person.organization?.estimated_num_employees || '',\n      'Location': (person.city || '') + ', ' + (person.state || ''),\n      'Company Website': person.organization?.website_url || '',\n      'LinkedIn URL': person.linkedin_url || '',\n      'Enrichment Status': 'Pending',\n      'Personalization Hook': '',\n      'Personalized Opening Line': '',\n      'Email 1 Status': '',\n      'Email 1 Date': '',\n      'Email 2 Status': '',\n      'Email 2 Date': '',\n      'Email 3 Status': '',\n      'Email 3 Date': '',\n      'Response Status': '',\n      'Response Date': '',\n      'Response Category': '',\n      'Meeting Status': '',\n      'Meeting Date': '',\n      'Meeting Notes': '',\n      'Owner (Avania)': '',\n      'Created Date': new Date().toISOString().split('T')[0],\n      'Last Updated': new Date().toISOString(),\n      'Notes': ''\n    }\n  };\n});"
      },
      "name": "Format Apollo Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {},
        "messages": [
          {
            "role": "system",
            "content": "You are an expert B2B sales personalization assistant for Avania Clinical, a medical device CRO company. Generate a personalized opening line for cold emails that is 1-2 sentences, references the company/person, and naturally leads into QMSR compliance or quality services."
          },
          {
            "role": "user",
            "content": "=Given:\nCompany: {{ $json.Company }}\nPerson: {{ $json['First Name'] }} {{ $json['Last Name'] }}\nTitle: {{ $json.Title }}\nCampaign: QMSR compliance for medical devices\n\nGenerate ONE personalized opening line (1-2 sentences) that mentions their company and naturally leads into QMSR/quality compliance. Be conversational and specific."
          }
        ]
      },
      "name": "AI Personalization",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [850, 300],
      "credentials": {
        "openAiApi": {
          "apiKey": "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"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract personalization from AI response\nconst content = $json.message?.content || $json.content || '';\nreturn [{\n  json: {\n    ...$json,\n    'Personalized Opening Line': content.trim(),\n    'Enrichment Status': 'Complete',\n    'Status': 'Ready'\n  }\n}];"
      },
      "name": "Extract Personalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "url": "https://docs.google.com/forms/d/e/1FAIpQLSfake_form_id/formResponse",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "name": "Send to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Apollo Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apollo Search": {
      "main": [
        [
          {
            "node": "Format Apollo Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Apollo Data": {
      "main": [
        [
          {
            "node": "AI Personalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Personalization": {
      "main": [
        [
          {
            "node": "Extract Personalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Personalization": {
      "main": [
        [
          {
            "node": "Send to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
